XRAY_API_ENDPOINT=host.docker.internal:10085
XRAY_ACCESS_LOG=/var/log/xray/access.log
XRAY_ACCESS_LOG_DIR=/var/log/xray

PROMETHEUS_BIND_ADDRESS=127.0.0.1
PROMETHEUS_PORT=9090
PROMETHEUS_RETENTION=2d
PROMETHEUS_RETENTION_SIZE=512MB
PROMETHEUS_MEM_LIMIT=256m
PROMETHEUS_QUERY_MAX_CONCURRENCY=4
PROMETHEUS_QUERY_TIMEOUT=30s

XRAY_EXPORTER_MEM_LIMIT=64m
NODE_EXPORTER_MEM_LIMIT=64m
GRAFANA_MEM_LIMIT=192m

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me
GRAFANA_BIND_ADDRESS=127.0.0.1
GRAFANA_PORT=3000
GRAFANA_PROMETHEUS_URL=http://host.docker.internal:9090
GRAFANA_DOMAIN=
GRAFANA_ROOT_URL=%(protocol)s://%(domain)s:%(http_port)s/
